@import "styles/defaults/colors";

:local {
    .item {
        color: $default-white;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }

    .item-active {
        font-weight: bold;
        display: block;
        height: 50%;
    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}